body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

h2 {
    font-size: 3em;
}

h3 {
    font-size: 2em;
    color: rgb(196, 40, 40);
}

ul {
    list-style: none;
    padding: 0;
}

a {
    text-decoration: none;
    color: black;
}

/* ----- Header ----- */
header {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: centre;
    top: 0;
    width: 100%;
    height: 4em;
    background-color: rgb(240, 240, 240);
    font-size: 1.1em;
}

/* Brand */
.brand {
    display: flex;
    justify-content: center;
    align-items: center;
}

.brand img {
    width: 2em;
    height: auto;
    padding-left: 2em;
}

.brand a {
    padding-left: 0.3em;
    font-weight: 700;
}

/* Nav links */
#nav-bar {
    display: flex;
}

#nav-bar ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-link {
    color: black;
    font-weight: 900;
    text-decoration: none;
    padding: 0 1.5em;
}

.nav-link:hover {
    color: rgb(196, 40, 40)
}

@media (max-width: 600px) {
    .nav-link {
        font-size: 0.9em;
        padding: 0 0.7em;   
    }
}

/* ----- Email form ----- */
#top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 4em;
    height: 40em;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20em;
}

form input[type="email"] {
    box-sizing: border-box;
    width: 100%;
    height: 2em;
    border: transparent;
    border-bottom: 1.5px solid rgb(196, 40, 40);
    outline: none;
    background-color: transparent;
    font-size: inherit;
    text-align: center;
}

form input[type="email"]::placeholder {
    text-align: center;
    color: rgba(0, 0, 0, 0.4);
}

form input[type="submit"] {
    width: 10em;
    height: 3em;
    margin: 2em auto;
    border: none;
    color: white;
    background-color: rgb(196, 40, 40);
    border-radius: 10em;
    font-weight: 700;
    outline: none;
    cursor: pointer;
}

/* ------ Sections ------ */
/* 01-How it works */
#how-it-works {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
}

@media (max-width: 1100px) {
    #how-it-works {
        height: 80em;
    }
}

.process {
    display: flex;
}

@media (max-width: 1100px) {
    .process {
        flex-direction: column;
    }
}

.step {
    display: flex;
    flex-direction: column;
    width: 22em;
    height: auto;
    margin: 1.5em 2em;
    text-align: center;
}

@media (max-width: 1265px) {
    .step {
        margin: 1.5em 0.3em;
    }
}

.step-number {
    font-weight: 700;
    width: 4em;
    margin: 1em auto;
    padding: 0.5em;
    border-bottom: 1.5px solid rgb(196, 40, 40);
}

#video {
    margin: 3em auto;
}

iframe {
    width: 560px;
    max-width: 100%;
}

/* 02-Features */
#features {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 35em;
    margin: 5em auto;
}

.grid-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.grid {
    display: flex;
}

.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10em;
}

#features .desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 1.2em;
}

#features h3, #features p {
    margin: 0;
}

/* 03-Sizes */
#sizes {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: auto;
    margin-bottom: 6em;
}

.container1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50em;
    max-width: 100%;
}

@media (max-width: 850px) {
    .container1 {
        flex-direction: column;
        justify-content: space-evenly;
        height: 65em;
    }
}

.specs-image img {
    display: block;
    max-width: 20em;
    height: auto;
}

.container2 {
    display: flex;
    flex-direction: column;
}

.product {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 20em;
    height: auto; 
}

.product h3, .product p {
    margin: 0;
}

.product p {
    border-bottom: 1.5px solid rgb(196, 40, 40);
    width: 100%;
    height: auto;
    padding: 0.5em 0;
    font-weight: 700;
}

/* ----- Footer ----- */
footer {
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    height: auto;
    text-align: center;
    background-color: rgb(240, 240, 240);
}

footer ul {
    display: flex;
    justify-content: center;
}

footer li {
    padding: 0 1em;
}

footer span {
    display: flex;
    align-items: center;
    padding: 0 2.5em;
}

@media (max-width: 570px) {
    footer li, footer span {
        font-size: 0.9em;
        padding: 0 0.7em;
    }
}